* {
  background-color: #61dafb;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: monospace;
  color: white;
}

.App input {
  margin-top: 45px;
  width: 350px;
  height: 40px;
  font-size: 20px;
  padding-left: 10px;
}

p {
  margin: 10px;
  font-size: 16px;
}
